name: Build Docker Image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Ballerina
        uses: ballerina-platform/setup-ballerina@v1.1.3
        with:
          version: 2201.12.10

      - name: Build Docker image
        working-directory: config-api
        run: bal build --cloud=docker

      - name: List Directory Contents
        run: |
          sudo apt-get install tree -y
          tree config-api/
